
<footer class="footer mt-auto border-top bg-body-secondary p-3">
  <div id="footer">
  <div id="socials">
  <h3>Our socials</h3>
  <ul class="nav pb-3">
  <li class="nav-item h4"><a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" id="rss" class="nav-link text-decoration-none" title="Subscribe to RSS" target="_blank"><i class="fa-solid fa-square-rss"></i></a></li>
  <li class="nav-item h4"><a href="mailto:support@ttnrtsite.me" id="email" class="nav-link text-decoration-none" title="Email us" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
  </ul>
  </div>
  </div>
  <br>
  <div id="informationblk">
  <div id="copyrightfooter">
  <div class="h5">&copy; TTNRT Corperation 2024. All rights reserved.</div>
  <p>{{ site.description | escape }}</p>
  </div>
  </div>
  </footer>